@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


* {
    font-family: "Raleway";
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
}

/* Eléments génériques */
a {
    text-decoration:none; 
    color:#000000
}
.police-titre {
    font-size: 1.5rem;
    font-weight: 900;
    padding-left : 20px;
}
.police-soustitre {
    font-size: 1.2rem;
    font-weight: 900;
    padding-left: 20px;
    padding-bottom: 50px;
}

.lienphotos {
    display: flex;
    flex:1;
    text-decoration: none;
    color: black;
}

.bold {
    font-weight: 900;
}
.blue {
    color :#0065FC;
}

/* Section 1 : Header */
.header-container {
    display:flex; 
    flex-direction:column; 
    justify-content:space-around; 
    padding-top:20px; 
    padding-bottom:20px;
}

.menu-box {
    display:flex; 
    justify-content:space-between; 
    flex-wrap:wrap; 
}

.logo {
    width: 100px;
    height: auto;
    margin-left: 20px; 
    margin-bottom: 20px;
}

.inscription {
    margin-bottom: 20px;
    color :#0065FC;
    font-weight: 900;
    padding-top: 18px;
    overflow: hidden;
    padding-right: 20px;
}

.liste {
    display: flex;
    flex : 1;
    list-style:none;
    padding : 0; 
}

.lien1 {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-bottom : 20px;
    border-bottom: solid 3px #0065FC;
    width:50vw
}

.lien2 {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-bottom : 20px;
    border-bottom: solid 3px #F2F2F2;
    width:50vw
}

/* Section 2 : Landing-page */
.landing-page-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 20px;  
}
/* Slogan */
.slogan-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.slogan-titre {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 10px;
}
.slogan-sous-titre {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Console de recherche */
button, input, select, textarea {
    font-family: inherit;
    font-size: 1.1rem;
}
.console-container {
    display: flex;
    flex: 1;
    max-width: 400px; 
    padding-bottom: 20px;
}
.console_icon {
    display : flex;
    flex : 1;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    max-width: 70px;
}
.fa-map-marker-alt {
    align-self: center;
    font-size : 1.5rem;
}
.console_input {
    display: flex;
    flex : 1;
    border:#F2F2F2 solid 1px;
}

.button {
    display : flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px 15px 15px 15px;
    background-color: #0065FC;
}
.fa-search {
    font-size : 1.2rem;
    color : white;
}

.trick2 {
    display: none;
}

/* Filtres */

.filtres_container {
    display : flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

.filtre_box1 {
    display: flex;
    flex: 1 0 100%;
}

.filtre_box2 {
    display: flex;
    flex: 0 content;
    border: solid #F2F2F2;
    border-radius: 25px;
    padding: 0;
    margin-bottom: 20px;
}

.filtre_titre {
    display: flex;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 10px;
}

.filtre_name {
    display: flex;
    font-size: 1.1rem;
    font-weight: bolder;
    margin:10px;
    margin-left: 60px;
    margin-right: 20px;
}

.icon {
    position: absolute;
    display: flex;
    align-self: center;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    font-size: large;
    width: 48px;
    height: 48px;
} 
.fa-money-bill-wave {
    align-self: center;
    padding-left: 25%;
}

.fa-child {
    align-self: center;
    padding-left: 33%;
}
.fa-heart {
    align-self: center;
    padding-left: 30%;
}
.fa-dog {
    align-self: center;
    padding-left: 27%;
}

.grow {transition: all .2s ease-in-out;}
.grow:hover {transform: scale(1.2);}  

/* Infos */
.infos-box {
    display: flex;
    flex: 1;
}
.infos-icon {
    align-self: center;
    color:  #0065FC;
    font-size: 1.4rem;
    padding-right: 10px;
}

/* Résulats */
.résultats-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

/* Eléments des labels */
.small_title {
    font-weight: bolder;
    font-size: large;
    text-decoration: none;
}
.price {
    font-size: small;
    text-decoration: none;
}

.blue_star {
    color: #0065FC;
    font-size: small;
}
.white_star {
    color: #DEEBFF;
    font-size: small;
}
.title_box {
    display: flex;
    flex: 1;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
}

.star_box {
    display: flex;
}

/* Les plus populaires */
.populaires-container {
    display: flex;
    flex: 1;
    background-color: #F2F2F2;
    flex-direction: column;
}

.populaires-head {
    display: flex;
    flex:1;
    align-items: center;
    justify-content: space-between;
    max-height: 80px;
    padding : 10px;
}

.poplaires-icon {
    font-size: 1.3rem;
    font-weight: 900;
    padding-right : 20px;
}

.populaires-photosbox {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding : 20px;
    align-items: center;
}
.populaires-cadre {
    display: flex;
    max-width: 330px;
    height: 150px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.populaires-photos {
    width: 130px;
    height: 135px;
    margin: 7px;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
}

.populaires-label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
}

/* Hébergements */
.hébergements-container {
    display: flex;
    flex:1;
    flex-direction: column;
}
.hébergements-head {
    padding: 10px;
}
.hébergements-box {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding : 20px;
    align-items: center;
}

.hébergements_cadre {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    min-width: 290px;
    height: 200px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.hébergements_photos {
    max-width: 310px;
    height: 110px;
    margin: 10px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.hébergements_label {
    list-style: none;
    margin-left: 20px;
}

.hébergements-footer {
    padding: 20px;
}

/* Activités */
.activités-container {
    display: flex;
    flex :1;
    flex-direction: column;
    
}

.activités-box {
    flex-direction: column;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.activites-photosbox {
    flex-direction: column;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.activités-cadre {
    display: flex;
    flex:1;
    flex-direction: column;
    max-width: 330px;
    min-width: 290px;
    height: 200px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.activités-photos {
    max-width: 310px;
    height: 140px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.activités-label {
    display: flex;
    font-weight: bolder;
    font-size: large;
    padding : 20px;
}

/* Footer */
.footer-container {
    display: flex;
    flex :1;
    flex-direction: column;
    background-color: #F2F2F2;
    padding : 0px 20px;
    
}

.footer-box {
    display: flex;
    flex :1;
    flex-direction: column;
    padding: 20px;
    list-style: none;
    padding : 0px;
}

.police-soustitre-footer {
    font-size: 1.2rem;
    font-weight: 900;
    padding-bottom: 20px;
}

.footer-link {
    padding-bottom: 10px;
}

/* Média smartphone */
@media screen and (min-width:430px){
    .button {
        border-radius: 0px 15px 15px 0px;
    }
    .fa-search {
        display: none;
    }
    .trick1 {
        display: none;
    }
    .trick2 {
        display: flex;
        color: white;
    }
    .text-button {
        margin-top: 14px;
    }
    .console_icon {
        height: 60px;
    }
}

/* Média tablette */
@media screen and (min-width: 700px){
    .menu-box {
        flex-direction:row; 
        justify-content:flex-end; 
    }
    .inscription{
        padding-top: 9px; 
        margin-right:2rem; 
        order:1;
    }
    .liste{
        margin-left:auto; 
        margin-top : 0;
        max-width:300px;
    }
    .lien1 {
        padding-bottom : 0px;
        border-bottom: none;
    }
    
    .lien2{
        padding-bottom : 0px;
        border-bottom: none;
    }
    .filtre_box1 {
        display: flex;
        flex: 0;
    }
    .populaires-photosbox {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .hébergements-box {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .populaires-cadre {
        max-width: 230px; 
    }
    .populaires-photos {
        width: 100px;
    }
    .activités-box {
        padding: 20px;
        justify-content: space-evenly;
        flex-direction: row;
    }
    .activites-photosbox2 {
        flex: 0;
    }
    .activites-photosbox {
        flex: 0;
    }
    .cadre1 {
        max-width: 360px;
        min-width: 350px;
        height: 450px;
    }
    .photo-size1 {
        max-width: 360px;
        height: 390px;
    }
    .cadre2 {
        max-width: 340px;
        min-width: 330px;
    }
    .photo-size2 {
        max-width: 330px;
    }
    .cadre3 {
        max-width: 340px;
        min-width: 330px;
    }
    .photo-size3 {
        max-width: 330px;
    }
    .cadre4 {
        max-width: 340px;
        min-width: 330px;
    }
    .photo-size4 {
        max-width: 330px;
    }
    .cadre5 {
        max-width: 340px;
        min-width: 330px;
    }
    .photo-size5 {
        max-width: 330px;
    }
    .footer-container {
        flex-direction: row;
        padding: 30px;
    }

}

/* Média desktop */
@media screen and (min-width: 1025px){
    .header-container { 
        padding-top:0px; 
    }
    .logo {
        padding-top: 50px;
        margin-left: 50px; 
        margin-bottom: 20px;
    }
    .inscription{
        padding-top: 60px; 
        margin-right: 50px;
    }
    .liste{
        padding-top: 10px;
    }
    .lien1 {
        border-top: solid 3px #0065FC;
    }
    .lien1 :first-child{
        padding-top : 37px;
    }
    .lien2 :first-child{
        padding-top : 40px;
    }
    .landing-page-container {
        padding : 20px 50px;
    }
    .filtres_container {
        width: 70%;
      }
    .résultats-container {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 50px;
    }
    .hébergements-container {
        display: flex;
        flex:0.65;
        flex-direction: column;
        background-color: #F2F2F2;
        order: 1;
        border-radius: 15px 15px 15px 15px;
    }
    
    .hébergements-box {
        max-width: 900px;
        align-self: center;
    }
    .populaires-container {
        display: flex;
        flex: 0.3;
        order:2;
        border-radius: 15px 15px 15px 15px;
    }
    .populaires-photosbox {
        flex-direction: column;
    }

    .populaires-cadre {
        max-width: 340px;
    }
    .populaires-photos {
        width: 130px;
    }

    .hébergements_cadre {
        display: flex;
        flex-wrap: wrap;
        max-width: 250px;
        min-width: 250px;
        height: 200px;
        background-color: white;
        border-radius: 15px;
        margin-bottom: 30px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }
    
    .hébergements_photos {
        width: 230px;
        height: 110px;
        margin: 10px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }
    .activités-container {
        padding:0px 30px;
    }
    .activités-box {
        align-items: start;
    }
    .activites-photosbox {
        flex: 1;
    }
    .activites-photosbox2 {
        flex: 0;
    }

    .cadre1 {
        max-width: 310px;
        min-width: 310px;
        height: 450px;
    }
    .photo-size1 {
        max-width: 310px;
        height: 390px;
    }
    .cadre2 {
        max-width: 310px;
        min-width: 310px;
    }
    .photo-size2 {
        max-width: 310px;
    }
    .cadre3 {
        max-width: 310px;
        min-width: 310px;
    }
    .photo-size3 {
        max-width: 310px;
    }
    .cadre4 {
        max-width: 310px;
        min-width: 310px;
    }
    .photo-size4 {
        max-width: 310px;
    }
    .cadre5 {
        max-width: 310px;
        min-width: 310px;
    }
    .photo-size5 {
        max-width: 310px;
    }
    .footer-container {
        flex-direction: row;
        padding: 50px;
    }
}